@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  color: black;
}
.head {
  font-family: "Bebas Neue", sans-serif;
}
.yellow {
  color: #f9a51a;
}
.back-yellow {
  background-color: #f9a51a;
}
.grey {
  color: #6a6a6a;
}
